form(action="javascript:" onsubmit="searchInBlockchain(this.elements[0].value.trim())")
    - var searchValue = query ? query : ""
    input.input-large.no-overflow(
        data-role="input"
        placeholder="Search for block, address, transaction, ..."
        data-search-button="true"
        name="search_value"
        value=searchValue
    )