mixin trans-table(tableId)
    div.scroll-table-container
        table.table.data-table.row-border.monospace.row-hover.mt-2.mb-2(id=tableId)
            thead
                tr
                    th.text-center(style="width: 30px;")
                        div DIR

                    th.text-center(style="width: 30px;")
                        div Tx
                        div.text-small Type

                    th
                        div Hash
                        div.text-small Memo

                    th
                        div Participant
                        div.text-small Sender or Receiver

                    th.text-center(style="width: 30px;")
                        div Nonce

                    th.text-right(style="width: 100px;")
                        div Amount
                        div.text-small Fee

                    th.text-center(style="width: 30px;")
                        div Blocks
                        div.text-small Confirm

                    th(style="width: 110px;")
                        div Block
                        div.text-small Timestamp
            tbody
                tr
                    td.text-center(colspan="8")
                        div.d-flex.flex-align-center.flex-justify-center
                            div(data-role="activity" data-type="bars" data-style="color")



    script.
        ;const drawTransTable = data => {
            const rows = []
            const showBlockInfo = $("#trans-show-block").is(":checked")

            if (data.length === 0) {
                return [$("<tr>").html(`
                    <td colspan="8" class="text-center">Nothing to show</td>
                `)]
            }

            let index = 1, block_height = 0
            for (let row of data) {
                let tr, participantKey, participantName, participantLabel

                if (showBlockInfo && row.height !== block_height) {
                    block_height = row.height
                    tr = $("<tr>")
                    tr.html(`
                        <td colspan="8" class="enlarge-2">
                            <div class="d-flex flex-align-center">
                                <span>Block: </span>
                                <a href="/block/${row.block_hash}" class="link ml-2">${row.height}</a>
                                <span class="text-muted ml-2">at ${datetime(+row.timestamp).format(config.format.datetime)}</span>
                                <span class="ml-auto">&nbsp;</span>
                                <a class="link ml-2" href="/block/${row.block_hash}">${shorten(row.block_hash, 12)}</a>
                                <span class="ml-2 mif-copy copy-data-to-clipboard c-pointer" data-value="${row.block_hash}"></span>
                                <span class="ml-2 mif-qrcode c-pointer" data-value="${row.block_hash}"></span>
                            </div>
                        </td>
                    `)
                    rows.push(tr)
                }

                tr = $("<tr>")

                if (row.sender_key !== accountHash) {
                    participantKey = row.sender_key
                    participantName = row.sender_name
                    participantLabel = "SENDER"
                } else {
                    participantKey = row.receiver_key
                    participantName = row.receiver_name
                    participantLabel = "RECEIVER"
                }

                tr.html(`
                    <td class="text-center">
                        ${row.sender_key === accountHash ? "<span class='mif-arrow-up fg-cyan'></span>" : "<span class='mif-arrow-down fg-green'></span>"}
                    </td>
                    <td class="text-center">
                        <div class="${row.command_type === 'payment' ? 'bg-blue' : 'bg-pink'} fg-white reduce-3 text-upper pl-1 pr-1">${row.command_type}</div>
                        <div class="${row.status === 'pending' ? 'bg-cyan' : row.status === 'applied' ? 'bg-green' : 'bg-red'} fg-white reduce-3 text-upper">${row.status}</div>
                    </td>
                    <td>
                        <div class="d-flex flex-row flex-nowrap flex-align-center">
                            <a class="link enlarge-1" href="/transaction/${row.hash}">${shorten(row.hash, 10)}</a>
                            <span title="Copy hash to clipboard" class="ml-1 reduce-1 mif-copy copy-data-to-clipboard c-pointer" data-value="${row.hash}"></span>
                        </div>
                        <div class="text-muted">${row.memo}</div>
                    </td>
                    <td>
                        <div class="text-muted reduce-2">${participantLabel}</div>
                        <div class="d-flex flex-row flex-nowrap flex-align-center">
                            <a data-role="hint" data-hint-text="${participantName}" class="link" href="/account/${participantKey}">${shorten(participantKey, 12)}</a>
                            <span class="ml-1 mif-copy copy-data-to-clipboard c-pointer" title="Copy hash to clipboard" data-value="${participantKey}"></span>
                        </div>
                    </td>
                    <td>${row.nonce}</td>
                    <td class="text-right">
                        <div class="">${normMina(row.amount)}</div>
                        <div class="text-muted reduce-1">${normMina(row.fee)}</div>
                    </td>
                    <td class="text-center">
                        <div>${row.confirm}</div>
                    </td>
                    <td>
                        <span class="reduce-1">${datetime(+row.timestamp).format(config.format.datetime)}</span>
                    </td>
                `)

                rows.push(tr)

                if (showError && row.status === 'failed') {
                    tr = $("<tr>").addClass('bg-light')
                    tr.html(`
                        <td>
                            <span class="mif-keyboard-return flip"></span>
                        </td>
                        <td colspan="6" class="fg-red">${row.failure_reason}</td>
                    `)
                    rows.push(tr)
                }

                index++
            }

            return rows
        }
