mixin zkappas-table(tableId)
    div.scroll-table-container
        table.table.data-table.row-border.monospace.row-hover.mt-2.mb-2(id=tableId)
            thead
                tr
                    th.text-center(style="width: 30px;")
                        div Tx
                        div.text-small Status

                    th(style="width: 270px;")
                        div Hash
                        div.text-small Memo

                    th
                        div Payer
                        div.text-small Name

                    th.text-center(style="width: 30px;")
                        div Sequence

                    th.text-center(style="width: 30px;")
                        div Nonce

                    th.text-right(style="width: 100px;")
                        div Fee

                    th.text-center(style="width: 30px;")
                        div Blocks
                        div.text-small Confirm
            tbody
                tr
                    td.text-center(colspan="7")
                        div.d-flex.flex-align-center.flex-justify-center
                            div(data-role="activity" data-type="bars" data-style="color")



    script.
        ;const drawZkAppsTable = data => {
            if (data.length === 0) {
                return [$("<tr>").html(`
                    <td colspan="7" class="text-center">Nothing to show</td>
                `)]
            }
            const rows = []
            let index = 1, block_height = 0
            for (let row of data) {
                let tr

                if (showBlockNumber && row.height !== block_height) {
                    block_height = row.height
                    tr = $("<tr>")
                    tr.html(`
                        <td colspan="7" class="enlarge-2">
                            <div class="d-flex flex-align-center">
                                <span>Block: </span>
                                <a href="/block/${row.block_hash}" class="link ml-2">${row.height}</a>
                                <span class="text-muted ml-2">at ${datetime(+row.timestamp).format(config.format.datetime)}</span>
                                <span class="ml-auto">&nbsp;</span>
                                <a class="link ml-2" href="/block/${row.block_hash}">${shorten(row.block_hash, 12)}</a>
                                <span class="ml-2 mif-copy copy-data-to-clipboard c-pointer" data-value="${row.block_hash}"></span>
                                <span class="ml-2 mif-qrcode c-pointer" data-value="${row.block_hash}"></span>
                            </div>
                        </td>
                    `)
                    rows.push(tr)
                }

                tr = $("<tr>")

                tr.html(`
                    <td class="text-center">
                        <div class="bg-blue fg-white reduce-3 text-upper">zkapp</div>
                        <div class="${row.status === 'applied' ? 'bg-green' : 'bg-red'} fg-white reduce-3 text-upper pl-1 pr-1">${row.status}</div>
                    </td>
                    <td>
                        <a class="link enlarge-1" href="/zkapp/${row.hash}">${shorten(row.hash, 12)}</a>
                        <span title="Copy hash to clipboard" class="reduce-1 mif-copy copy-data-to-clipboard c-pointer" data-value="${row.hash}"></span>
                        <div class="text-muted reduce-2">${row.memo}</div>
                    </td>
                    <td>
                        <div class="d-flex flex-nowrap">
                            <a data-role="hint" data-hint-text="${row.payer_name}" class="link" href="/account/${row.payer_key}">${shorten(row.payer_key, 12)}</a>
                            <span class="ml-1 mif-copy copy-data-to-clipboard c-pointer" title="Copy hash to clipboard" data-value="${row.payer_key}"></span>
                        </div>
                        <div class="text-muted reduce-2">${row.payer_name}</div>
                    </td>
                    <td class="text-center">${row.sequence_no}</td>
                    <td class="text-center">${row.nonce}</td>
                    <td class="text-right">
                        <div class="">${normMina(row.fee)}</div>
                    </td>
                    <td class="text-center">
                        <div>${row.confirm}</div>
                    </td>
                `)

                rows.push(tr)
                index++
            }

            return rows
        }
